<div class="search_container">  
<%= form_tag("/integrations", method: "get") do %>
  <%= text_field_tag 'search[text]', @search[:text], placeholder: 'Enter search term...'%>

  <% @tags.each do |tag| %>
      <% id = "search[tag_ids][#{tag.id}]" %>
      <li>
          <%= check_box_tag "search[tag_ids][]", tag.id, @integration.tag_ids.include?(tag.id), {:id => id} %>

          <%= label_tag nil, tag.name, { :for => id} %>
      </li>
  <% end %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="search_results">
  <h3 class="count_container">Search results: 
    <span class="count"><%= @integrations.size %></span>
  </h3>
<% @integrations.each do |integration| %>
  <div class="row">
    <div class="tags">
        <% if integration.tags  %>
        <% integration.tags.each{|t| %>
          <span class="tag"><%= t.name %></span>
        <% } %>
        <% end %>
    </div>
    <h2 class="title"><%= integration.name %></h2>
    <h3 class="description"><%= integration.description %></h3>
    <ul>
    <% integration.links.each_line.map{|line| line.strip}.each{|url|
      next if url.empty?
      url = "http://#{url}" if !url.starts_with?("http://","https://")
      %><li><%= link_to url, url %></li><%
    } if integration.links
    %>
    </ul>
  </div>
<% end %>
</div>