<h1>Integration Details</h1>

<p>
  <strong>Name:</strong>
  <%= @integration.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @integration.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @integration.tags.each{|tag|
  } %>
</p>

<p>
  <strong>Links:</strong>
  <%= @integration %>
</p>


<%= link_to 'Edit', edit_integration_path(@integration) %> |
<%= link_to 'Back', integrations_path %>