<h1>Integration Details</h1>

<p>
  <strong>Name:</strong>
  <%= @integration.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @integration.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @integration.tags.map(&:name).join(", ") %>
</p>

<p>
  <strong>Links:</strong>
  <ul>
  <% @integration.links.each_line.map{|line| line.strip}.each{|url|
    next if url.empty?
    url = "http://#{url}" if !url.starts_with?("http://","https://")
    %><li><%= link_to url, url %></li><%
  } if @integration.links
  %>
  </ul>
</p>


<%= link_to 'Edit', edit_integration_path(@integration) %> |
<%= link_to 'Back', integrations_path %>