<!DOCTYPE html>
<html>
  <head>
    <title>An Unofficial Intercom Resources Repository</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>An Unofficial Intercom Resources Repository</h1>
    <h3>Documenting guides, how-to's, apps and integrations</h3>
    <ul>
      <li>See latest apps from Intercom and 3rd parties in the <a href="https://www.intercom.com/app-store">Intercom App Store</a></li>
    </ul>

    <% if is_admin? %>
    <ul role="nav" class="admin_nav">
      <li><%= link_to 'Integration', admin_integrations_path %></li>
      <li><%= link_to 'Tags', admin_tags_path %></li>
    </ul>
    <% end %>
    <%= yield %>

  </body>
</html>
